body {
    font-family: "Raleway", Arial, sans-serif;
}

.social-icons.custom-social-icons-style-1 li {
    box-shadow: none;
}

#header .header-nav-main nav > ul > li > a {
    text-transform: none;
    font-size: 16px;
}

ul.nav-pills > li.active > a {
    background-color: #74a30c;
}

ul.nav-pills > li.active > a:hover,
ul.nav-pills > li.active > a:focus {
    background-color: #74a30c;
}

a, a:hover, a:focus {
    color: #545759;
}

#comofunciona {
    background-color: #2d094c;
}

#comofunciona,
#comofunciona h1,
#comofunciona h2,
#comofunciona h3,
#comofunciona h4,
#comofunciona p {
    color: #fff;
    text-transform: none;
}

#comofunciona p {
    font-weight: 300;
}

#comofunciona img {
    width: 25%;
}

section.section {
    position: relative;
    padding: 70px 0px;
    border: none !important;
}

#proyectos-ley .sort-source li {
    float: none;
    font-size: 18px;
}

#proyectos-ley .nav-pills>li+li {
    margin-top: 10px;
}

#proyectos-menu {
    float: left;
}

#proyectos-menu a,
#proyectos-menu a:hover,
#proyectos-menu a:focus {
    color: #202d3e;
    font-weight: 800;
}

#proyectos-menu .active a,
#proyectos-menu .active a:hover,
#proyectos-menu .active a:focus {
    color: #ffffff;
}

#proyectos-ley h2 {
    color: #202d3e;
}

.thumb-info .thumb-info-title {
    color: #202d3e;
    background: none;
    text-transform: none;
    font-weight: 700;
    padding-bottom: 5px;
    width: 100%;
    max-width: 100%;
    text-align: center;
    bottom: 0%;
    font-size: 14px;
    z-index: 0;
}

.thumb-info:hover .thumb-info-title {
    background: none;
}

.thumb-info.thumb-info-lighten .thumb-info-wrapper:after {
    background: rgba(120, 184, 242, 0.75);
}
