body {
    font-family: "Raleway", Arial, sans-serif;
}

.social-icons.custom-social-icons-style-1 li {
    box-shadow: none;
}

#header .header-nav-main nav > ul > li > a {
    text-transform: none;
    font-size: 16px;
}

ul.nav-pills > li.active > a {
    background-color: #74a30c;
}

ul.nav-pills > li.active > a:hover,
ul.nav-pills > li.active > a:focus {
    background-color: #74a30c;
}

a, a:hover, a:focus {
    color: #545759;
}

#comofunciona {
    background-color: #2d094c;
}

.font-white,
.font-white h1,
.font-white h2,
.font-white h3,
.font-white h4,
.font-white p {
    color: #fff;
    text-transform: none;
}

.font-white p {
    font-weight: 300;
}

.font-white a,
.font-white a:hover,
.font-white a:focus {
    color: #fff;
}

#comofunciona img {
    width: 25%;
}

section.section {
    position: relative;
    padding: 70px 0px;
    border: none !important;
}

#proyectos-ley .sort-source li {
    float: none;
    font-size: 18px;
}

#proyectos-ley .nav-pills>li+li {
    margin-top: 10px;
}

#proyectos-menu {
    float: left;
}

#proyectos-menu a,
#proyectos-menu a:hover,
#proyectos-menu a:focus {
    color: #202d3e;
    font-weight: 800;
}

#proyectos-menu .active a,
#proyectos-menu .active a:hover,
#proyectos-menu .active a:focus {
    color: #ffffff;
}

#proyectos-ley h2 {
    color: #202d3e;
}

.thumb-info .thumb-info-title {
    color: #202d3e;
    background: none;
    text-transform: none;
    font-weight: 700;
    padding-bottom: 5px;
    width: 100%;
    max-width: 100%;
    text-align: center;
    bottom: 0%;
    font-size: 14px;
    z-index: 0;
}

.thumb-info:hover .thumb-info-title {
    background: none;
}

.thumb-info.thumb-info-lighten .thumb-info-wrapper:after {
    background: rgba(58, 153, 238, 0.87);
}

.thumb-info .thumb-info-action {
    background: transparent;
    left: 5%;
    width: 90%;
    -webkit-transition: -webkit-transform 0.2s ease-out, opacity 0.2s ease-out;
    -moz-transition: -moz-transform 0.2s ease-out, opacity 0.2s ease-out;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
    transform: translate(0%, -30%);
    top: 50%;
    bottom: auto;
    opacity: 0;
    text-align: center;
    padding: 0;
    position: absolute;
    z-index: 2;
    color: #ffffff;
}

.thumb-info:hover .thumb-info-action {
    opacity: 1;
    transform: translate(0%, -50%);
}

#contacto {
    background-color: rgba(32, 45, 62, 1.0);
    font-size: 12px;
}

#contacto .font-weight-bold {
    font-weight: 600 !important;
}

.contact {
    list-style: none;
    margin: 0;
    padding: 0;
}

.contact i,
.contact img {
    margin-right: 10px;
}

.contact p {
    margin-bottom: 10px;
}

#footer {
    background: rgb(230, 231, 232);
}

#footer,
#footer a,
#footer a:hover,
#footer a:focus {
    color: rgb(64, 64, 65);
    font-weight: 700;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

/* For small devices only */
@media (max-width: 479px) {
    .thumb-info {
        max-width: 55%;
        margin: 0 auto;
    }

    section.section {
        padding: 30px 0px;
    }

    #footer {
        text-align: center;
    }
}
